<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.majorcallisto.MajorCallistoCalorieCounter"
        versionCode = "0" 
        version     = "0.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Major Callisto Calorie Counter</name>

    <description>
        Keep track of daily/ weekly caloric intake.
    </description>

    <author email="christopher@gomangostudios.net" href="http://gomangostudios.net">
		Created by Christopher @ GomangoStudios.net
	</author>

    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
    <preference name="webviewbounce"    value="false" />
	
	<gap:platform name="ios" />
	<gap:platform name="android" />

	<gap:plugin name="nl.x-services.plugins.insomnia" version="4.0.1" /><!-- https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin/tree/47ba15a4ad791eb4d5a0643cdb7ef69f73109e15 -->
	<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" /><!-- https://github.com/apache/cordova-plugin-vibration/blob/5adf530/README.md -->
	<gap:plugin name="org.apache.cordova.dialogs"/>
	<gap:plugin name="hu.dpal.phonegap.plugins.uniquedeviceid" version="1.2.0" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" /><!-- https://github.com/phonegap-build/PushPlugin/blob/1979d97/README.md -->

</widget>
